/* header + footer + những gì dùng chung thì CSS vào đây. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container9x {
  width: 90%;
  margin: 0 auto;
}
/* Header */
.header .header-top {
  background-color: black;
}
.header .header-top .top-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header .header-top .top-cont .cont-left span {
  color: #fff;
  margin-left: 10px;
}
.header .header-top .top-cont .cont-left select:focus {
  outline: 0;
}
.header .header-top .top-cont .cont-left select {
  background-color: transparent;
  border: solid #fff 1px;
  border-radius: 10px;
  color: #fff;
}
.header .header-top .top-cont .cont-left option {
  color: #000;
}
.header .header-top .top-cont .cont-right a {
  text-decoration: none;
  color: #fff;
}
.header .header-top .top-cont .cont-right span {
  color: #fff;
  margin: 0 5px;
}
.header .header-top .top-cont .cont-right a:hover {
  color: red;
  transition: all 0.5s;
}

.header .brand-name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
}
.header .brand-name .logo a {
  text-decoration: none;
  color: #000;
  font-size: 3.5rem;
  font-family: Work Sans;
  font-weight: bold;
}

.header .brand-name .search input {
  padding: 10px 15px;
  width: 80%;
  border-radius: 5px;
  border: solid #f2f2f2 1px;
  background-color: #f7f8fa;
}
.header .brand-name .search input:focus {
  outline: 0;
  border: solid #e8e8e8 1px;
}
.header .brand-name .search {
  position: relative;
}
.header .brand-name .search i {
  font-size: 20px;
  color: #555868;
  right: 0;
  position: absolute;
  transform: translate(-110px, 15px);
}
.header .brand-name .icon {
  display: flex;
  justify-content: center;
}
.header .brand-name .icon .icon-1 {
  margin-right: 20px;
}
.header .brand-name .icon i {
  color: #393543;
  font-size: 25px;
}
.header .brand-name .icon span {
  color: #393543;
  font-size: 20px;
}
.header .brand-name .icon .icon-1:hover i,
.header .brand-name .icon .icon-1:hover span {
  color: red;
  transition: all 0.5s;
}
.header .brand-name .icon .icon-2:hover i,
.header .brand-name .icon .icon-2:hover span {
  color: red;
  transition: all 0.5s;
}
.header .nav {
  background-color: #000;
  justify-content: center;
  padding: 25px 0;
  position: relative;
}
.header .nav a {
  text-decoration: none;
  margin-right: 50px;
  color: #fff;
}
.header .nav .nav-1 .nav-1__item {
  background-color: #fff;
  padding: 15px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: absolute;
  top: 100%;
}
.header .nav .nav-1 .nav-1__item a {
  color: #96928d;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
