* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
}
.bg-fb {
  background-color: #3b5998;
}
.bg-tw {
  background-color: #1da1f2;
}
.bg-gg {
  background-color: #dd4e3f;
}
.hide {
  overflow: hidden;
}
/* Color options */
.color-1 {
  background-color: #a92015;
}
.color-2 {
  background-color: #215e7c;
}
.color-3 {
  background-color: #474544;
}
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
/* CSS */
.page-title {
  padding: 30px 0;
  background-color: #f6f6f6;
  letter-spacing: 2px;
}
.page-title h3 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 20px;
}
.filter {
  padding: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.filter .filter-input {
  outline: 1px solid #f6f6f6;
}
/* products */
.products {
  padding: 40px 0;
}
/* products left collum */
.products .products__options .options__list h5 {
  font-size: 1.5rem;
}

.products .products__options .options__list li {
  padding: 8px 0;
}
.products .products__options .options__list li a {
  padding: 8px 0;
  transition: 0.3s;
}
.products .products__options .options__list li a:hover {
  color: #d81818;
}
.products .products__options .options__list input {
  outline: 1px solid #d4d4d4;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.2rem;
}
.products .products__options .options__list button {
  outline: 1px solid #d4d4d4;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 4px;
}
.products .products__options .options__list button:hover {
  background-color: #fff;
  color: #000;
}
/* product right collumn */
.products__items {
  height: fit-content;
}
.products__items .item__info {
  text-align: center;
}
.products__items .item__info__name {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition-duration: 0.3s;
}
.products__items .item__info__name:hover {
  color: #ee4d2d;
  font-weight: 600;
  text-decoration: underline;
}
.products__items .item .item__info__cart {
  background-color: #ee4d2d;
  padding: 8px 0;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.products__items .item .item__info__cart:hover {
  /* background-color: #fecc11; */
  /* color: #fff; */
  background-color: transparent;
}
.products .products__items .item {
  margin-bottom: 2rem;
}
.products__items .item .item__info__cart:hover p {
  opacity: 0;
}
.products .products__items .item__detail {
  position: relative;
  overflow: hidden;
}
.products .products__items .item__detail__color {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(110%);
  transition: 0.3s;
}
.products .products__items .item__detail__color .choosed-color {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border: #0f0f0d solid 2px;
  position: relative;
  content: "";
  display: inline-block;
}
.products .products__items .item__detail__actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  transform: translateX(150%);
  transition: 0.3s;
}
.products .products__items .item__detail__actions .item-action {
  margin: 0.4rem 0;
  text-align: center;
  transition: 0.3s;
}
.products .products__items .item__detail__actions .item-action:hover {
  background-color: #f6f6f6;
}
.products .products__items .item__detail__actions a {
  width: 2rem;
  height: 2rem;
  /* line-height: 2.5rem; */
  border-radius: 15%;
  border: 1px solid #d4d4d4;
}
.products .products__items .item__detail__actions .item-action i {
  color: #4b5e4b;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 4px;
}
.products .products__items .item__detail__actions .item-action i:hover {
  color: #d81818;
}
.products .products__items .item__detail:hover .item__detail__actions {
  transform: translateX(0%);
}
.products .products__items .item__detail:hover .item__detail__color {
  transform: translateY(0%);
}
.products .item__info__cart .add-to-cart input::-webkit-inner-spin-button,
.products .item__info__cart .add-to-cart input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.products .item__info__cart .add-to-cart input {
  -moz-appearance: textfield;
}
.products__items .item .item__info__cart .add-to-cart {
  position: absolute;
  top: -100%;
  transition-duration: 0.3s;
  justify-content: space-around;
}
.products__items .item .item__info__cart:hover .add-to-cart {
  top: 50%;
  transform: translateY(-50%);
}
.products__items .item .item__info__cart .cart__quantity .quantity-btn {
  padding: 0 8px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #000;
  background-color: #fff;
  border: 0.5px solid #ccc;
}
.products__items .item .item__info__cart .cart__quantity .quantity-btn:active {
  background-color: #ee4d2d;
  color: #fff;
}
.products__items .item .item__info__cart .cart__quantity input {
  width: 50px;
}
.products__items .item .item__info__cart .cart__quantity input:focus-visible {
  outline: none;
}
.products__items .item .item__info__cart .cart__add .add__btn {
  border: 1px solid #ee4d2d;
  font-size: 1rem;
  padding: 4px 6px;
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
}
.products__items .item .item__info__cart .cart__add .add__btn:active {
  background-color: #ee4d2d;
  color: #fff;
}
/* SINGLE PRODUCT MODAL */
.itemModal {
  display: none;
}
.itemModal.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #99999980;
  z-index: 10;
  top: 0;
  left: 0;
  animation: showModal 0.3s ease-in-out;
  display: flex;
}
/* .itemModal {} */
/* body {
  overflow: hidden;
} */
.modal__content {
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  max-width: 1000px;
  max-height: 80vh;
  position: relative;
  box-sizing: content-box;
  overflow-y: scroll;
}
.modal__content .closeModal {
  position: absolute;
  right: 20px;
  top: 16px;
  text-align: right;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.modal__content .closeModal:hover {
  color: #dd4e3f;
}
.modal__content__detail .modal__deltail__name {
  color: #696969;
  margin-bottom: 5px;
  font-size: 2rem;
  line-height: 30px;
  padding-right: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.modal__content__detail .modal__deltail__price {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.modal__content__detail .modal__deltail__des {
  color: #777;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 20px;
}
.modal__content__detail .modal__deltail__des li {
  line-height: 1.6;
}
.modal__footer {
  text-align: center;
  border-top: #77777762 1px solid;
}
.modal__footer h3 {
  padding-top: 20px;
  margin-bottom: 1rem;
  font-weight: 300;
}
.modal__footer__social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 40px;
  margin: 0 4px;
  text-decoration: none;
}
@keyframes showModal{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}